.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  align-items: center;
  border-bottom: 1px solid #3a3a3c;
}

header {
  text-align: center;
}

header>h1 {
  color: var(--white);
  font-family: 'Barlow Condensed', sans-serif;
}

nav>img {
  height: 1.5rem;
  object-fit: cover;
}

nav>ol {
  display: flex;
}


nav ol li>button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 15px 0px 0px
}